<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title> Some Page </title>
    </head>

    <body>
       {{> header}}
        <p> texto teste </p>
    </body>

    <!-- partial que renderiza em mais de uma página -->
   {{> footer}}



</html>